<<<<<<< HEAD
body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}
header {
  background: #333;
  color: white;
  padding: 20px;
}
section {
  margin: 20px;
}
=======
body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}
h1 {
  color: blue;
}
>>>>>>> d43dab05c5c9cb00472d94271e5303f5bf47bc26
